<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Combattant</h1>
			<h2><%= @user.name %></h2>

			<p>Point d'attaque : <%= @user.attack %></p>
			<p>Point de vie : <%= @user.life %></p>
		</div>
	</div>
</div>