<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Vous voici dans l'arène !</h1>
			<p>Venez défiez les meilleurs artistes</p>
			<p><%= link_to "Combattre !", new_fight_path %></p>
			
		</div>
	</div>
</div>
